html {
	background-size: cover;
	background-color: #421f4d;
    height: 100%;
}

.text-center {
	text-align: center;
}

.text-center h1 {
	color:  #e6d1f1;
}

.text-center input[type="text"]{
	padding: 10px 20px;
    border-radius: 20px;
    border-color: rgba(216, 199, 224, 0.75);
    border-width: 6px;
    border-style: solid;
    background: rgba(126, 104, 128, 0.82);
    color: #fff;
}

